<div class="container mt-4">
    <div class="jumbotron p-5 rounded">
        <h1 class="display-4 text-white">🚀 Welcome to My Tech Blog!</h1>
        <p class="lead text-light">Discover tutorials and guides on web development technologies.</p>
        <hr class="my-4 border-light">
        <p class="text-light">Explore our collection of programming tutorials covering Python, HTML, CSS, and JavaScript.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">📚 View All Posts</a>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest Tutorials</h5>
                    <p class="card-text">Stay up to date with the latest programming tutorials and guides.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">Learn HTML, CSS, and JavaScript from beginner to advanced level.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Programming</h5>
                    <p class="card-text">Explore Python and other programming languages with practical examples.</p>
                </div>
            </div>
        </div>
    </div>
</div>
