#box{
    height: 150px;
    width:100px;
    background-color: aqua;
    color:black;
    border:1px solid black;
}
div{
    background-color:aqua;
    height:100px;
    width:100px;
    border:2px solid black;
}