h1{
    text-align:center;
}
#signal{
    background-color:black;width:150px;margin-left:850px;
}
#red{
    background-color:red;
    height:100px;width:100px;border-radius:50%;margin-left:20px;
}
#yellow{
    background-color:yellow;
    height:100px;width:100px;border-radius:50%;margin-left:20px;
}
#green{
    background-color:green;
    height:100px;width:100px;border-radius:50%;margin-left:20px;
}